<%- include("header.ejs") -%>
<body >
  <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">
    <div class="container">
      <div class="row align-items-center">
        
        <div class="col-6 col-md-3 col-xl-4  d-block">
          <h1 class="mb-0 site-logo"><a href="index.html" class="text-black h2 mb-0"><img src="images/logo.png" alt="imag"></a></h1>
        </div>
        
        
      </div>
    </div>
    
  </header>
  <h1 class="text-c" style="padding: 130px 0 50px 0">Thank you !</h1>
  <div class="sign-in">
    <div class="row">
      <div class="col-sm-12">
        <div class="card text-center" style="background-color: #ebecf1"; >
      
      <div class="card-body"  >
        <p>Your response has been recorded. Thank you for contacting us.</p>
        <a href="/" class="btn btn-primary">Back</a>
        
        
        
      </div>
    </div>
  </div>
        
      </div>
    </div>
    
  
</body>
</html>